
.AccountBar{
    max-height: 400px;
    width: 200px;
    position: fixed;
    margin-top: -32px;
    z-index: 100;
    border-radius: 10px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    color: WHITE;
    font-size:  16px;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 24px;
    font-weight: 300;
    background-color: #333333; /* Replace with the hex code that represents your chosen deep charcoal color */;
    box-shadow:10px 10px 16px 8px rgba(0, 0, 0, 0.2); 
    position: fixed;
}

a{
    text-decoration: none;
    color: white;
    text-decoration: underline;
}