.Card{
  position: relative;
}

a {
  text-decoration: none;
}
.fillRatingSvg svg {
  width: 10px;   /* Adjust the width to your desired size */
  height: 10px;  /* Adjust the height to your desired size */
  fill: yellow;  /* Set the color for the filled star */
}





.Image-Detail{
    
    color: rgb(26, 25, 25);
    text-align: start;
  }
  
  .Image-Detail img{
    height: 260px;
    width: 260px;
    border-radius: 16px;
    background-color: antiquewhite;
  }
  
  .gray{
    color: rgb(117, 115, 115);
  }
  
  .Image-Detail h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
  }


  @media screen and (max-width: 550px) {
    .Image-Detail img{
      height: 360px;
      width: 360px;
      border-radius: 16px;
      background-color: antiquewhite;
    }
    
  }
 

.wishlistIcon{
  position: absolute;
  top: 5%;
  right: 5%;
}