.card{
  position: relative;
  z-index: 2;
}
a {
  text-decoration: none;
}
.fillRatingSvg svg {
  width: 10px;   /* Adjust the width to your desired size */
  height: 10px;  /* Adjust the height to your desired size */
  fill: yellow;  /* Set the color for the filled star */
}

.Image-Detail{
  color: #1a1919;
  padding: 0 50px;
  text-align: start;
  }
  
  .Image-Detail img{
    height: 260px;
    width:260px ;
    border-radius: 16px;
    background-color: antiquewhite;
  }
  
  .gray{
    color: rgb(117, 115, 115);
  }
  
  .Image-Detail h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
  }


  @media screen and (max-width: 550px) {
    .Image-Detail img{
      background-color: #faebd7;
      border-radius: 10px;
      height: 340px;
      width: 400px;
      min-width: 200px;
    }
    .wishlistIcon{
      position: absolute;
      top: 3.5%;
      right: 4%;
    }
    
  }

  @media screen and (min-width: 551px) and (max-width: 743px) {
    .wishlistIcon{
      position: absolute;
      top: 3.5%;
      right: 4%;
    }
  }
 
@media screen and (min-width: 744px) and (max-width: 990px) {
  .wishlistIcon{
    position: absolute;
    top: 3.5%;
    right: 6%;
  }
  
}

.wishlistIcon{
  position: absolute;
  top: 3.5%;
  right: 12%;
}
.wishlistIcon svg{
  color: white;
  fill: rgba(15, 15, 15, 0.326);
  border-radius: 200%;
}

.pinkWishListColor svg{
  fill: rgba(250, 147, 147, 0.742);
  color:rgb(250, 84, 112);
}