::-webkit-scrollbar {
    width: 0.1em; /* Set a width to create some spacing for the content */
  }
::-webkit-verticlescrollbar {
    width: 0.1em; /* Set a width to create some spacing for the content */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb (drag handle) */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the scrollbar thumb when hovered */
  }
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  /* Styling the corner between vertical and horizontal scrollbars (optional) */
  ::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
  }

.filters-container{
  overflow: hidden;
  padding: 16px 48px;
  height: 100px;
  margin-top: -45px;
  position: fixed;
  background-color: white;



}

.filters{
    display: flex;
    gap: 8px;
    overflow:scroll;
    padding-bottom: 48px;
}

.filters .filter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center; 
    width: 100px;
}

.filters .filter h3{
    width: 130px;
    margin: 8px;
    font-size: 13px;
    color: #5d5d5d;
    
}
.filters .filter img{
    padding: 0%;
    margin: 0%;
    width: 32px;
    height: 32px;
    color: #888;
    
}

.active{
    border-bottom:2px solid #303030;
    border-radius: 16px;
    padding: 8px;
    color: #303030;
    
  }

.active h3{
  color: #303030;
}
 
.scrollbar-right{
  color: rgb(169, 167, 167);
  position: absolute;
  top: 10;
  margin-left: 1280px;
  background-color: #303030;
  transition: 2s ease-in;
}
.scrollbar-left{
  color: rgb(169, 167, 167);
  position: absolute;
  bottom: 10;

  background-color: #303030;
}



/* Small screens (up to 550px) */
@media screen and (max-width: 550px) {
  .filters-container{
    overflow: hidden;
    padding:16px 0px;
    height: 75px; 
    position: fixed;
    background-color: rgb(255, 255, 255);
  
  }
  .filters{
    display:flex;
    gap: 8px;
    overflow: scroll;
    padding: 0 24px;
    padding-bottom: 32px;
  }
.filters .filter img{
  padding: 0%;
  margin: 0%;
  width: 24px;
  height: 24px;
  color: #888;
  
}
.filters .filter h3 {
  width: 100px;
  margin: 2px;
  font-size: 11.5px;
  color: #5d5d5d;
}
}

/* Medium screens (551px to 743px) */
@media screen and (min-width: 551px) and (max-width: 743px) {
  .div-1{
    display: none;
   
  }
  .div-2{
    position:fixed;
    margin: 16px 20px;
    padding: 6px 11px;
  }
  .div-3{
    display: none;
  }
}

/* Large screens (744px and above) */
@media screen and (min-width: 744px) and (max-width: 990px) {
  
}@media screen and (min-width: 991px)  {
  
}