footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    border: 2px solid rgb(218, 217, 217);
    padding: 0 20px;
    
  }
  
  footer .links{
    display: flex;
    align-items: center;
    gap: 8px;
    
  }
  
  footer .links a{
    color: gray;
  }
  
  footer .selectors{
    display: flex;
    align-items: center;
    color: gray;
    gap: 16px;
   
  }
  
  footer .selectors .lang{
    display: flex;
    gap: 16px;
  }
  
  footer .selectors .lang svg{
    
    width: 24px;
    height: 24px;
  }

  .PublishListing{
    background-color: rgb(234, 42, 93);
    padding: 8px 16px;
    color: white;
    border-radius: 10px ;
  }

  

  .FooterMobile__Section{
    text-align: center;
  }

  .FooterMobile__Section svg{
    width: 40px;
    font-weight:1000;
    color: gray;
    
    
  }
  
  .FooterMobile__Section h3{
    margin-top: -16px;
    
  }

  .FooterMobile{
    position: fixed;
    display: flex;
    background-color: white;
    gap: 48px;
    padding: 4px 80px;
    bottom:0%;
    left: 50%;
    transform: translate(-50%, 5%);
    z-index: 5 ;
    
  }

  .airbnblogo img{
    width: 30px;
    height: 30px;

  }