.profileImage{
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

.setUpSextion-Box{
    margin:24px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.setupImage{
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

