.ProfilePage{
    padding:0px 24px ;
}

.profileImage{
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

.setUpSextion-Box{
    border: 1px solid #000;
    margin: 24px;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow:-1px 6px 6px 4px rgb(87, 87, 87);
}

.setupImage{
    height: 88px;
    width: 104px;
    border-radius: 100%;
}

.PersonalInfoSection-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 16px ;

}


.ProfilePage-Section{
    padding:0px 24px;
    border-bottom: 0.6px solid gray;
}
