.profileImage{
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

.setUpSextion-Box{
    border: 1px solid #000;
    margin: 24px;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.setupImage{
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

