




.Register-Container form h1{
    margin-bottom: 24px;
    color: rgb(250, 105, 105);
}


.Register-container__input{
    width: 93%;
    padding: 16px 16px;
    margin: 0;
    border-radius: 8px;
    border: 0.8px solid gray;  
}

.Register-Container form button{
    margin-top: 48px;
    padding: 12px 98px;
}


/* Small screens (up to 550px) */
@media screen and (max-width: 550px) {
  .Register-Container {
    align-items: center;
    background-color: #fff;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    margin:0;
    min-height: 50vh;
    padding: 0 32px;
  }

  .Register-Container h1 {
    font-size: 1.553rem;
    margin: 0;
  }

  .Register-Container h2 {
    font-size: 1.163rem;
    margin: 0;
  }

  .Register-Container h3 {
    font-size: 0.8rem;
    margin: 0;
    font-weight: 300;
  }

  .Register-Container h4 {

    margin: 0;
  }

  .Register-Container h5 {
    font-size: 0.3rem;
    margin: 0;
  }
}

/* Medium screens (551px to 743px) */
@media screen and (min-width: 551px) and (max-width: 743px) {
  .Register-Container {
    align-items: center;
    background-color: #850707;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    margin: -0px 0;
    min-height: 50vh;
    padding: 0 32px;
  }
}

/* Large screens (744px and above) */
@media screen and (min-width: 744px) and (max-width: 990px) {
  .Register-Container {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    height: 80vh;
    border: 1px solid rgb(81, 77, 77);
    padding: 80px 32px;
    margin: 0 auto;
    padding-top: 20px;
  }
}

/* Extra-large screens (991px and above) */
@media screen and (min-width: 991px) {
  .Register-Container {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    height: 80vh;
    border: 1px solid rgb(81, 77, 77);
    padding: 80px 32px;
    margin: 0 auto;
    padding-top: 20px;
  }
}
