.FloorPlanType-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 48%;
    border-bottom: 1px solid rgb(198, 193, 193);

}

.FloorPlanType-container__count{
    display: flex;
    gap: 40px;
    padding: 48px 0;

}

