
.Option{
    padding:16px 64px 8px 16px ;
    border: 0.6px solid rgb(202, 198, 198);
    
}
   
.structureImage{
    width: 80px;
    margin: 0;
}

.selected{
    border: 3px solid #0f0f0f; /* Adjust the color and size as needed */
}