.section4{
    display: flex;
    justify-content: center;
    gap: 24px;
    
}

.section4-left{
    padding-top: 30px;
    flex: 1;
}

.section4__title{
    width: 80%;
    line-height: 3.2rem;
}


.section4__Quetions__Quetion{
    border-bottom: 1px solid gray;
    padding: 32px 8px;
}

.section4__Quetions__Quetion__heading{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    
}



.section4-right{
    flex: 1;
}

.section4__Quetions__Quetion__Answer{
    transition: 2s ease  ;
}