
.section5 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}
.section5__right{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1rem;
}
.section5__left{
    flex: 1;
}
.section5__left img{
    width: 100%;

}