h1{
  font-size: 1.653rem;
  margin: 0;
}
h2{
  font-size:1.363rem;
  margin: 0;
}
h3{
  font-size:1.0rem;
  margin: 0;
  font-weight: 300;
}
h4{
  font-size: 0.9rem;
  margin: 0;
}
h5{
  font-size:0.6rem;
  margin: 0;
}
svg{
  margin-bottom: 4px;
}


.Btn{
  border: 1px solid gray;
  padding: 10px 24px ;
  margin-left: 8px;
  border-radius: 16px;
 
  text-align: center;

}

.App-logo{
  width: 120px;
  height: 70px;
}
.smallAirbnblogo{
  display: none;
  width: 40px;
  height: 40px;
}

.roomImages{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: center;
  justify-content: center;
  padding-top: 104px;
 

}


.MainContent{
  margin-top: 120px;
}

.mainComponentHome{
  min-height: 100vh;
  padding-bottom: 32px;
}


.Trip__Title{
  flex: 2.5;
}

.empty_result{

  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  height: 50vh;
  border: 1px solid gray;
  

}

.center-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: gray;
  height: 50vh;
  width: 40%;
  gap: 32px;
  text-align: center;
}

.validationMessage{
  color:yellow;
  margin-top: 8px;
  cursor: pointer;
  
  text-decoration: underline;
}

.pinkBtn{
  background-color:#de1263;
  border-radius: 8px;
  padding:12px 0;
  text-align: center;
  color: white;
  width: 100%;
  
}

.gray{
  color: rgb(151, 149, 149);
}

.displayFlex{
  display: flex;
  
}

.displayFlexCol{
  display: flex;
  flex-direction: column;
}

.alignItemsCenter{
  align-items: center;
}

.justifycontainBtn{
  justify-content: space-between;
}

.justifycontainCenter{
  justify-content: center;
}

.underline{
  text-decoration: underline;
}

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


.gap16{
  gap:16px
}

.gap8{
  gap:8px;
}

.border{
  border: 1px solid rgb(126, 126, 126);
}

.shadow{
  box-shadow: 6px 6px 60px 4px;
}

.border-bottom{
  border: 1px solid rgb(126, 126, 126);
}


.roomImagesWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
}



/* Small screens (up to 550px) */
@media screen and (max-width: 550px) {
  .roomImages {
    display:flex;
    flex-direction: column;
    padding-top: 64px;
    align-items: center;
    justify-content: center;
    gap: 32px;
    text-align: center; 
    padding-left: 0;   
  }
  .largerHeader{
    display: none;
  }
  
  .smallHeader{
    display: block;
  
  }
  .largeFooter{
    display: none;
  }
  .smallFooter{
    display: block;
  
  }
}

/* Medium screens (551px to 743px) */
@media screen and (min-width: 551px) and (max-width: 743px) {
  .roomImages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    row-gap: 24px;
    padding-top: 96px;
   
  }
  .largerHeader{
    display: none;
  }
  
  .smallHeader{
    display: block;
  
  }
  .largeFooter{
    display: none;
  }
  .smallFooter{
    display: block;
  
  }
}

/* Large screens (744px and above) */
@media screen and (min-width: 744px) and (max-width: 990px) {
  .roomImages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    padding-top: 120px; 
    row-gap: 16px;
    column-gap: 16px;      
  }
  .largerHeader{
    display: block;
  }
  
  .smallHeader{
    display: none;
  
  }
  .largeFooter{
    
    display: block;
  }
  .smallFooter{
    display: none;
  
  }
  .bigairbnblogo{
    display: none;
    
  }
  .smallAirbnblogo{
    display: block;
   
  }
}@media screen and (min-width: 991px)  {
  .roomImages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    padding-top: 104px;   
    row-gap: 16px;
    column-gap: 16px;      
  }
  .largeFooter{
    
    display: block;
  }
  .smallFooter{
    display: none;
  
  }
}
@media screen and (max-width: 744px)  {
  h1{
    font-size: 1.553rem;
    margin: 0;
  }
  h2{
    font-size:1.163rem;
    margin: 0;
  }
  h3{
    font-size:0.8rem;
    margin: 0;
    font-weight: 300;
  }
  h4{
    font-size: 0.6rem;
    margin: 0;
  }
  h5{
    font-size:0.3rem;
    margin: 0;
  }
  
}
